{% extends "base.htm" %}
{% block page %}
<div class='container'>
    <div class='row'>
        <div class="col-md-8 col-md-offset-1">
            <div class="page-header">
                <h1><strong>AI-related masters</strong></h1>
            </div>

            <div class='row'>
                <h3>Masters in Amsterdam:</h3>
                <ul>
                    <li><a href="#uva">Artificial Intelligence (UvA)</a></li>
                    <li><a href="#vu">Artificial Intelligence (VU)</a></li>
                </ul>
            </div>

            <div class='row'>
                <h2><a name="uva"></a>Artificial Intelligence</h2>
                    <h4><i>University of Amsterdam</i></h4>
               <div class='col-md-2'><img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/logo_uva.png') }}"
                    width="300px"               
                    alt="UvA"/>
               </div>
               <div class='col-md-10'>
                    <div style="float:left" class='text-justity'>
                        <b>Duration of master:</b> 2 years (120 EC)<br />
                        <b>City:</b> Amsterdam<br />
                        <b>Focus of master:</b> <br />
                        <p>The Master's programme in Amsterdam has a technical approach towards AI research and therefore contains a strong technical component in the program. 
The primary focus is on the the understanding, analysis and development of novel AI algorithms in order to create useful programs, as well as aid in understanding (human) intelligence. In the programme you acquire a working knowledge of efficient, robust and intelligent methods for interpreting sensory and other information of different character.
 
The program is a joint programme of the University of Amsterdam and Vrije Universiteit Amsterdam, which makes it possible to provide a wide range of topics to specialize in.</p>

                       <b>Study programme:</b> <br />
                       <u>Core programme</u> <br />
                       <p>The first year consists mostly of obligatory core courses to provide a solid basis and overview of AI research. These include courses on Computational Intelligence, Computer Vision, Information Retrieval, Knowledge Representation, Machine Learning, Multi-Agent Systems and Natural Language Processing.</p>
                       <u>Specializations</u><br />
                       <p>
In the second semester of the first year, you choose your specialization in an area of your choice. Throughout the second year, you can follow more courses of your specialization and you will be working on your thesis.
As a result, there are many specializations possible. Examples of specializations are:
                       </p>
                       <ul>
                           <li><i>Artifical Intelligence and Data Science</i><br />Topics for this specialization include: Machine Learning, Computer Vision, Natural Language Processing, Deep Learning, Data Mining Techniques, Information Visualization and Probabilistic Robotics
                           </li>
                           <li><i>Artificial Intelligence and the Web</i><br />
Topics for this specialization include: Information Retrieval, Knowledge representation on the Web, Knowledge Engineering and Natural Language Processing
                           </li>
                       </ul>
                       <b>Application criteria:</b>
                       <ul>
                           <li>A Bachelor’s degree in Artificial Intelligence or Computer Science
</li>
                           <li>A Bachelor’s degree closely related to AI with at least the following courses:
                               <ul>
                                   <li>Basic programming, computing skills courses and experience with developing software</li>
                                   <li>Basic mathematics (calculus, linear algebra and probability/statistics)</li>
                                   <li>Basic computer science (algorithms, systems) and artificial intelligence</li>
                                   <li>Proficiency in English</li>
                               </ul>
                        </li>
                       </ul>
                       <p><b>Curriculum:</b> <a href="http://gss.uva.nl/content/masters/artificial-intelligence/artificial-intelligence.html">link</a><br />
                       <b>More information:</b> <a href="http://coursecatalogue.uva.nl/xmlpages/page/2017-2018-en/search-programme/programme/3117">link</a><br /></p>
                        <b>Studying at Amsterdam Science Park:</b><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar feugiat urna elementum bibendum. Pellentesque lacinia leo sed congue egestas. Integer purus magna, elementum a sapien nec, ultricies vestibulum metus. Fusce vulputate ullamcorper facilisis. Nulla vehicula dignissim congue. Donec sed augue pellentesque, pharetra quam tincidunt, iaculis orci. Vestibulum hendrerit iaculis consequat.
                    </div>
                </div>
            </div>
            </hr>
            <div class='row'>
                <h2><a name="vu"></a>Artificial Intelligence</h2>
                    <h4><i>VU University</i></h4>
               <div class='col-md-2'><img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/logo_vu.png') }}"
                    width="300px"               
                    alt="VU"/>
               </div>
               <div class='col-md-10'>
                    <div style="float:left" class='text-justity'>
                        <b>Duration of master:</b> 2 years (120 EC)<br />
                        <b>City:</b> Amsterdam<br />
                        <b>Focus of master:</b> <br />
                        <p>
Artificial Intelligence (AI) is widely adopted in our society: we find applications of AI ranging from cars that detect pedestrians to Apple’s virtual assistant, Siri. Such applications use AI techniques to interpret information from a wide variety of sources and use it to enable intelligent, goal-directed behaviour.
The Vrije Universiteit Amsterdam also participates in an AI master programme with the University of Amsterdam called “Artificial Intelligence in Amsterdam,” which takes a technical approach to AI, focussing on the understanding, analysis and development of novel AI algorithms. The collaboration in this master programme makes it possible to offer a range of topics of unparalleled breadth, all taught by active researchers who are experts in the respective areas. It builds on a basis of compulsory courses on core topics in AI and elective advanced courses in these or more specific AI topics.
</p>

                       <b>Study programme:</b> <br />
                       <u>Core programme</u> <br />
                       <p>
Both tracks contain key courses in: 
<ul>
    <li>Model-Based Intelligent Environments</li>
    <li>Intelligent Interactive Systems</li>
    <li>Knowledge Engineering</li>
</ul>
                       </p>
                       <u>Specializations</u><br />
                       <p>VU Amsterdam offers 2 Master's tracks in AI: Socially Aware Computing and Cognitive Science.</p> 
						<i>Track Socially Aware Computing</i><br />
<p>This Master's track has a focus on the application of AI in Socially Aware Computing, highlighting the analysis and application of new AI techniques to develop solutions that understand and can reason about their social context. Key courses are:</p>
<ul>
	<li>Agent Systems</li>
	<li>Applied Machine Learning</li>
	<li>Applied Cognitive Psychology</li>
</ul>
<i>Track Cognitive Science</i>
<p>This Master's track focusses on the processes that underlie human functioning from two different research perspectives: empirical work and computational modeling. Key courses are:</p>
<ul>
	<li>Seminar Cognitive Neuroscience</li>
	<li>Neural Models of Cognitive Processes</li>
	<li>Thinking and Deciding</li>
	<li>Brain Imaging</li>
	<li>Human Information Processing</li>
</ul>         
                       
                       <b>Application criteria:</b>
                       <ul>
                           <li>Students with a Dutch preliminary education </li>
                           <li>For the Master programmes in Artificial Intelligence, students may enroll who have a Bachelor or Drs diploma in Artificial Intelligence obtained at a Dutch university (Utrecht, Nijmegen, Amsterdam (VU, UvA), Groningen, Maastricht). Some of the programmes are open to students who have a Bachelor, Drs or Master diploma in Computer Science, Psychology, Biology, or Law obtained at a Dutch institute or university of quality recognized by VU Amsterdam. Some of the programmes are also open to people with other diplomas, University or HBO, who are kindly invited to contact us if interested in following a Master programme at our Department.</li>
                           <li>Students with an international preliminary education 
<Paste></li>
                           <li>Admission to this Master programme is open to students with a Bachelor degree in Artificial Intelligence or students from Computer Science with appropriate specialization. The student is assumed to be familiar with programming in Java and Prolog, to have a general knowledge of Artificial Intelligence and a basic working knowledge of computer science, logic, mathematics, psychology and natural language processing. Under specific circumstances other students may also be admissible.</li>
                       </ul>
                       <p><b>Curriculum:</b> <a href="https://www.vu.nl/en/study-guide/2016-2017/master/a-b/artificial-intelligence/index.aspx">link</a><br />
                       <b>More information:</b> <a href="http://masters.vu.nl/en/programmes/artificial-intelligence/index.aspx">link</a><br /></p>
                        <b>Studying at the VU:</b><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar feugiat urna elementum bibendum. Pellentesque lacinia leo sed congue egestas. Integer purus magna, elementum a sapien nec, ultricies vestibulum metus. Fusce vulputate ullamcorper facilisis. Nulla vehicula dignissim congue. Donec sed augue pellentesque, pharetra quam tincidunt, iaculis orci. Vestibulum hendrerit iaculis consequat.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page %}
