{% extends "base.htm" %}
{% block page %}
<div class='container'>
    <div class='row'>
        <div class="col-md-6 col-md-offset-2">
            <div class="page-header">
                <h1>{{ _('Association')}}</h1>
            </div>

            <p class='text-justify'> The NSVKI is the cooperation for
                Study Associations for Artificial Intelligence in the
                Netherlands.  The members VIA (Amsterdam), STORM (Amsterdam),
                Cover (Groningen), CognAC (Nijmegen) and USCKI Incognito
                (Utrecht) decided it to be a good idea to keep in contact in
                this form.  Our aim is to support Dutch AI students, and foster
                ties between students in all of the Netherlands. <br><br>
		For information about all the Study Associations see below.
	    </p>

            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/incognito.svg') }}"
                    width="300px"
                    alt="Incognito"/>

                    <div class='text-justity'>

                        <p> The <strong>USCKI Incognito</strong> is the study
                            association for all students Cognitive Artificial
                            Intelligence in the departement of philosophy,
                            faculty of humanities at the University of Utrecht.
                        </p>

                        <p> The members room of <strong>Incognito</strong> is
                            located at the following address:
                        </p>
                        <p>
                            Drift 21 <br/>
                            Room 1.03 <br/>
                            3512 BR Utrecht<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "incognito";
                            var hostname = "uscki.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            </hr>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/via.svg') }}"
                    width="300px"
                    alt="VIA"/>

                    <div class='text-justity'>

                        <p> <strong>via</strong>, short for 'Vereniging
                            Informatiewetenschappen Amsterdam' (Dutch), is the
                            study association of the UvA for bachelor and
                            master students of the information sciences. This
                            includes the bachelors Computer Science, Artificial
                            Intelligence and Information Science; and the
                            masters: Artificial Intelligence, Computational
                            Science, Computer Science, Information Studies,
                            Logic, Software Engineering and System and Network
                            Engineering. We are also there to support the many
                            minors at the UvA which are associated with our
                            discipline.
                        </p>

                        <p> The members room of <strong>via</strong> is located
                            at Science Park: </p>

                        <p> Room A0.10 <br/>
                            Science Park 904 <br/>
                            1098 XH Amsterdam<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres and
                            // phone number.

                            <!--
                            var username = "bestuur";
                            var hostname = "svia.nl";
                            var linktext = username + "@" + hostname;
                            var phone_area = "(020)";
                            var phone_number = "525 7880";

                            document.write("&#1F310 <a href=" + "https://www." +
                                hostname + ">" + hostname + "</a>");
                            document.write("&#1F4DE <a href=" + "tel:" +
                                phone_area + " " + phone_number + ">" +
                                phone_area + " " + phone_number + "</a>");
                            document.write("&#1F4E7 <a href=" + "mail" + "to:" +
                                username + "@" + hostname + ">" + linktext +
                                "</a>");
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/storm.png') }}"
                    width="300px"
                    alt="STORM"/>

                    <div class='text-justity'>

                        <p> <strong>STORM</strong> is the study association of
                        the departments Mathematics and Informatics from the
                        Faculty of the Exact Sciences at the Free University
                        in Amsterdam. STORM stands for STudent Organisation
                        Mathematicians, but is an association which has long
                        been for more than just mathematics students. Currently,
                        all students who are enrolled in one of the study
                        programs of the aforementioned faculties are able
                        to join the association</p>

                        <p> The members room of <strong>STORM</strong> is located
                            at Zuidas: </p>

                        <p> Room S0.10 <br/>
                            De Boelelaan 1081 <br/>
                            1081 HV Amsterdam<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "bestuur";
                            var hostname = "storm.vu";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/cover.jpg') }}"
                    width="300px"
                    alt="s.v. Cover"/>

                    <div class='text-justity'>

                        <p> <strong>Cover</strong> is the study association for
                            Artificial Intelligence and Computer Science at the
                            State University Groningen. The association has
                            circa 500 members.  </p>

                        <p> The members room of <strong>s.v. Cover</strong> is
                            located at the following address.  </p>

                        <p>
                            Nijnenborg 9<br/>
                            Room 041a <br/>
                            0749 AG Groningen<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "bestuur";
                            var hostname = "svcover.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/cognac.png') }}"
                    width="300px"
                    alt="CognAC"/>

                    <div class='text-justity'>

                        <p> Study association <strong> CognAC </strong> is the
                            study association for the bachelor Artificial
                            Intelligence (AI) at the Radboud University Nijmegen.
                            CognAC has been founded in 1990 by students with the
                            goal to improve the contacts between students and
                            its teachers.  </p>

                        <p> The members room of <strong>CognAC</strong> located
                            at the following address:</p>

                        <p>
                            Spinozagebouw <br/>
                            Room A.00.05b <br/>
                            Montessorilaan 3 <br/>
                            6525 HR Nijmegen<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "secretaris";
                            var hostname = "svcognac.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
	</div>
    </div>
</div>
{% endblock page %}
