{% extends "base.htm" %}
{% block page %}
<div class='container'>
  <div class='row'>
    <div class="col-md-8 col-md-offset-1">
      <div class="page-header">
        <h1><strong>AI-related masters</strong></h1>
      </div>

      <div class='row'>
        <div class="col-md-10">
          <h3>Masters in Utrecht:</h3>
          <ul>
            <li><a href="#ai">Artificial Intelligence</a></li>
            <li><a href="#nc">Neuroscience and Cognition</a></li>
            <li><a href="#gt">Game Media and Technology</a></li>
          </ul>
        </div>
      </div>
      <div class='row'>
        <h2><a name="ai"></a>Artificial Intelligence</h2>
        <h4><i>Utrecht University</i></h4>
        <div class='col-md-2'><img
          class='img-responsive center-block logo'
          src="{{ static_url('/static/img/logo_uu.png') }}"
          width="300px"
          alt="UU"/>
        </div>

        <div class='col-md-10'>
          <div style="float:left" class='text-justity'>
            <b>Duration of master:</b> 2 years (120 EC)<br />
            <b>City:</b> Utrecht<br />
            <b>Focus of master:</b> <br />
            <p>The Master’s in Artificial Intelligence offers you an integrative and cutting-edge approach to the field from the viewpoints of Informatics, Logic, Cognition, Psychology, Philosophy, and Linguistics.
              Students can choose from three tracks: Agents, Cognitive Processing, and Reasoning.</p>
              <p>
                Agents: <br />
                In this track, you will focus on the logical modelling, programming, and application of intelligent agents and multi-agent systems. <br />
              </p>
              <p>
                Cognitive Processing: <br />
                The cognitive processing track focuses on how AI techniques can help to understand human behavior and cognition. <br />
              </p>
              <p>
                Reasoning: <br />
                In this track, you will address the questions of what correct reasoning is, how people can rationally reason with incomplete and uncertain information and resolve conflicts of opinion, and how reasoning and language interact.
              </p>

              <b>Study programme:</b> <br />
              <u>Core programme</u> <br />
              <p>
                <u>Mandatory courses for all students (22.5 EC)</u> <br />
                -Methods in AI research (15 EC):<br />
                -Philosophy of AI (7.5 EC)<br />
                <br />
                <u>Mandatory courses per track (22.5 EC)</u><br />
                Agents:<br />
                -Intelligent agents<br />
                -Multi-agent learning<br />
                -Multi-agent systems<br />
                <br />
                <u>Cognitive processing:</u><br />
                -Cognitive modelling<br />
                -Experimentation in psychology and linguistics<br />
                -Advanced topics in cognitive science<br />
                <br />
                <u>Reasoning:</u><br />
                -Logic and language<br />
                -Commonsense reasoning<br />
                -Logic and computation<br />
                <br />
                <u>Free choice (30 EC)</u><br />
                Options: <br />
                -Choose from the mandatory courses of all three tracks <br />
                -Do a research internship (7,5 or 15 EC) <br />
                -Choose master courses within or outside the UU (subject to approval) <br />
                -Choose courses freely from the following UU master programmes: <br />
                <br />
                Thesis (45 EC)
              </p>
            </div>
          </div>
        </div>
        <div class='row'>
          <h2><a name="nc"></a>Neuroscience and Cognition</h2>
          <h4><i>Utrecht University</i></h4>
          <div class='col-md-2'><img
            class='img-responsive center-block logo'
            src="{{ static_url('/static/img/logo_uu.png') }}"
            width="300px"
            alt="UU"/>
          </div>
          <div class='col-md-10'>
            <div style="float:left" class='text-justity'>
              <b>Duration of master:</b> 2 years (120 EC)<br />
              <b>City:</b> Utrecht<br />
              <b>Focus of master:</b> <br />
              <p>The goal of this Research Master is train you to become a neuro, and/or cognition scientist. With ample knowledge of the scope of brain and cognitive functioning, you will be prepared to join an international research team investigating the brain. </p>

              <b>Study programme:</b> <br />
              <u>Core programme</u> <br />
              <p>
                The core of the program consists of one mandatory, introductory course: Fundamentals of Neuroscience and Cognition. This course aims to provide starting N&C students, originating from various bachelor programs, with a firm background in the main topics in neuroscience, to introduce research groups involved in the master to facilitate internship selection and to give a first introduction into advanced neuroscience techniques.
              </p>
              <u> Specialisations: </u> <br />
              <p>
                - <i> Experimental and Clinical Neuroscience </i> <br />
                In this track, you will use state-of-the-art techniques to study the development, functioning, adaptation, and pathogenesis of the central and peripheral nervous systems. Research projects include the entire range of neuroscience topics from the level of the gene to the whole organism – from humans to animals and from ethology to behavioural disorders. The course content examines these topics on the molecular, cellular, network, and behavioural levels, focusing on patients with neurological and psychiatric conditions as well as the associated animal models. <br />
                - <i> Cognitive Neuroscience </i> <br />
                This track focuses on the relationship between the central nervous system and cognitive abilities. In your research projects, you may examine how the normal system functions and try to understand perception and motor behaviour in terms of the physical properties of the environment, or you might study the consequences of neuropathology on memory or attention. Taken together, this approach may lead to a better understanding of both normal and disordered functioning.
              </p> <br />
              <b> Application Criteria </b> <br />
              Only 55 people a year are selected for this master. You will be considered for admission to the Master's programme Neuroscience and Cognition if you hold a bachelor degree of a University and can demonstrate:
              <ol>
                <li> In depth knowledge and insight in the field of neuroscience and/or cognition. </li>
                <li> Basic knowledge of biostatistics. </li>
                <li> Mastery of methods and techniques in the above mentioned areas. </li>
                <li> High level of academic and professional ability. </li>
                <li> A clear motivation and talent for participation in the programme. </li>
                <li> Oral and written proficiency in English at an advanced level. </li>
              </ol>

              A bachelor’s degree in Artificial Intelligence will most likely meet these requirements.
              The selection will also take into account your grade point average, marks for relevant courses, study progress and extracurricular activities.

            </div>
          </div>
        </div>
        <div class='row'>
          <h2><a name="gt"></a>Game and Media Technology</h2>
          <h4><i>Utrecht University</i></h4>
          <div class='col-md-2'><img
            class='img-responsive center-block logo'
            src="{{ static_url('/static/img/logo_uu.png') }}"
            width="300px"
            alt="UU"/>
          </div>
          <div class='col-md-10'>
            <div style="float:left" class='text-justity'>
              <b>Duration of master:</b> 2 years (120 EC)<br />
              <b>City:</b> Utrecht<br />
              <b>Focus of master:</b> <br />
              <p>The Master’s programme in Game and Media Technology focuses on the technological aspects of gaming and multimedia in the context of computer science. It provides you with both fundamental and applied knowledge of the techniques for handling spatial data. You will gain the skills to perform research, analyse, and solve scientific problems — and to keep up with research progress in the fields of geometry, imaging, and virtual environments. It also incorporates such aspects as drama, style, and emotions, with a focus on the technical aspects. Simulating the physics, biology, and psychology of the real world and bringing it to life in multi-sensory simulations are major challenges you will explore in our dynamic programme. </p>

              <b>Study programme:</b> <br />
              <p>
                In the research programme of gaming and simulation, you will explore: <br />
                <ul>
                  <li> Modelling virtual worlds </li>
                  <li> Creating character animation and behavior </li>
                  <li> Generating effective scenarios </li>
                  <li> Building multi-sensory interfaces </li>
                </ul>
                The programme of the master GMT covers two years. Each year is divided into four periods.
                During the first year, you will take eight courses. You can select one of four focus areas (Interaction / Graphics and Modelling / Pattern Recognition / Motion) within the programme, with each three courses. For the remaining two courses are a lot of possibilities, including choosing courses from other related master programs.
                In the second year, you start with a small project (one period) to get acquainted with research. This is followed by an MSc project (three periods). The second year also involves attending a series of colloquia.
              </p>
              <b> Application Criteria </b> <br />
              <p>
                This is a selective master. You will be considered for admission to the Master's programme Game and Media Technology if you hold a bachelor degree of a Dutch University, if you show motivation and if you possess:
                <ul>
                  <li> solid basic knowledge of computer science and logic </li>
                  <li> the ability to analyze and model computer science problems </li>
                  <li> the ability to communicate facts and findings verbally and in writing, also using information and communication technology and audio-visual means </li>
                  <li> the ability to make a computer programme of reasonable complexity and size, in an object-oriented programming language such as Java or C++ </li>
                  <li> knowledge of data structures,  algorithms and related concepts of reasonable complexity, such as sorting algorithms, O(..)-notation, balanced binary search trees, etc. </li>
                  <li> knowledge of mathematics, notably calculus, logic, linear algebra, probability and statistics </li>
                  <li> knowledge of basic computer-graphics techniques </li>
                  <li> have a good level of English understanding, speaking and writing </li>
                </ul>
                Bachelor programmes that most likely meet the requirements are:
                <ul>
                  <li> BSc programmes with a major in computer science. </li>
                  <li> BSc with a major in science and a minor (or comparable) in computer science. </li>
                </ul>
                As a graduate from a Dutch Research University you do not have to fulfil any extra language requirements for this programme.
              </p>
            </p>
          </div>
        </div>
      </div>
    </hr>
  </div>
</div>
</div>
{% endblock page %}
