{% extends "base.htm" %}
{% block page %}
<div class='container'>
    <div class='row'>
        <div class="col-md-6 col-md-offset-2">
            <div class="page-header">
                <h1>{{ _('Association')}}</h1>
            </div>

            <p class='text-justify'> De NSVKI is de overkoepelende organisatie
                van studieverenigingen Kunstmatige Intelligentie in Nederland.
                De leden zijn VIA (Amsterdam), STORM (Amsterdam), Cover
                (Groningen), CognAC (Nijmegen) and USCKI Incognito (Utrecht).
                Het doel van het NSVKI is om een band te creeëren tussen de
                kunstmatige Intelligentie studenten in heel Nederland. <br><br>
		Hieronder vind je een overzicht met informatie over de studieverenigingen.</p>

	    <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/incognito.svg') }}"
                    width="300px"
                    alt="Incognito"/>

                    <div class='text-justity'>

                        <p> De <strong>USCKI Incognito</strong> is een
                            studievereniging voor alle studenten CKI aan het
                            departement Wijsbegeerte, faculteit
                            Geesteswetenschappen, Universiteit Utrecht.</p>

                        <p> De ledenkamer van <strong>Incognito</strong> zit op
                            het volgende adres:
                        </p>
                        <p>
                            Drift 21 <br/>
                            Kamer 1.03 <br/>
                            3512 BR Utrecht<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "incognito";
                            var hostname = "uscki.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            </hr>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/via.svg') }}"
                    width="300px"
                    alt="VIA"/>

                    <div class='text-justity'>

                        <p>
                            <strong>via</strong>, kort voor 'Vereniging
                            Informatiewetenschappen Amsterdam', is de
                            studievereniging voor de bachelor en
                            masterstudenten van het informatiewetenschappen
                            aan de UvA. Hieronder vallen de bachelors
                            Informatica, Kunstmatige Intelligentie en
                            Informatiekunde; en de masters:
                            Artificial Intelligence, Computational
                            Science, Computer Science, Information Studies,
                            Logic, Software Engineering and System and Network
                            Engineering. Ook zijn we er voor alle studenten van
                            de minors aan de UvA die geassocieerd zijn aan ons
                            vakgebied.
                        </p>

                        <p>
                            De ledenkamer van <strong>via</strong> zit op
                            het Science Park:
                        </p>
                        <p>
                            Kamer A0.10 <br/>
                            Science Park 904 <br/>
                            1098 XH Amsterdam<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                        // Create an non-crawlable email-adres and
                        // phone number.

                        <!--
                        var username = "bestuur";
                        var hostname = "svia.nl";
                        var linktext = username + "@" + hostname;
                        var phone_area = "(020)";
                        var phone_number = "525 7880";

                        document.write("&#1F310 <a href=" + "https://www." +
                            hostname + ">" + hostname + "</a>");
                        document.write("&#1F4DE <a href=" + "tel:" +
                            phone_area + " " + phone_number + ">" +
                            phone_area + " " + phone_number + "</a>");
                        document.write("&#1F4E7 <a href=" + "mail" + "to:" +
                            username + "@" + hostname + ">" + linktext +
                            "</a>");
                        //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/storm.png') }}"
                    width="300px"
                    alt="STORM"/>

                    <div class='text-justity'>

                        <p>
                            <strong>STORM</strong> is de studievereniging van
                            de afdelingen Wiskunde en Informatica van de
                            Faculteit de exacte wetenschappen aan de Vrije
                            Universiteit Amsterdam. STORM is een afkorting voor
                            STudenten ORganisatie Mathematici, maar de Vereniging
                            is er al lang niet meer voor wiskundigen alleen.
                            Op dit moment kunnen alle studenten van de studies
                            die gelinkt zijn aan de bovenstaande faculteiten lid worden.
                        </p>

                        <p>
                            De ledenkamer van <strong>STORM</strong> zit op
                            de Zuidas:
                        </p>
                        <p>
                            Kamer S0.10 <br/>
                            De Boelelaan 1081 <br/>
                            1081 HV Amsterdam<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "bestuur";
                            var hostname = "storm.vu";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block logo'
                    src="{{ static_url('/static/img/cover.jpg') }}"
                    width="300px"
                    alt="s.v. Cover"/>

                    <div class='text-justity'>

                        <p> <strong>Cover</strong> is de
                            studievereniging voor Kunstmatige Intelligentie en
                            Informatica aan de Rijksuniversiteit Groningen. De
                            studievereniging telt zo'n 500 leden.  </p>

                        <p> De ledenkamer van <strong>s.v. Cover</strong>
                            zit op het volgende adres.</p>

                        <p>
                            Nijnenborg 9<br/>
                            Kamer 041a <br/>
                            0749 AG Groningen<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "bestuur";
                            var hostname = "svcover.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block '
                    src="{{ static_url('/static/img/cognac.png') }}"
                    width="300px"
                    alt="CognAC"/>

                    <div class='text-justity'>

                        <p> Studievereniging <strong>CognAC</strong> is
                            de studievereniging van de opleiding Kunstmatige
                            Intelligentie (KI) aan de Radboud Universiteit
                            Nijmegen. CognAC is in 1990 opgericht door een paar
                            studenten met als doel de contacten tussen de
                            studenten onderling te verbeteren en de belangen
                            van de studenten te behartigen.</p>

                        <p> De ledenkamer van <strong>CognAC</strong> zit op
                            het volgende adres:</p>

                        <p>
                            Spinozagebouw <br/>
                            Kamer A.00.05b <br/>
                            Montessorilaan 3 <br/>
                            6525 HR Nijmegen<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "secretaris";
                            var hostname = "svcognac.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page %}
