{% extends "base.htm" %}
{% block page %}
<div class='container'>
    <div class='row'>
        <div class="col-md-6 col-md-offset-2">
            <div class="page-header">
                <h1>{{ _('Association')}}</h1>
            </div>

            <p class='text-justify'> De NSVKI is the overkoepelende organisatie
                van studieverenigingen Kunstmatige Intelligentie in Nederland.
                De leden zijn VIA (Amsterdam), STORM (Amsterdam), Cover
                (Groningen), CognAC (Nijmegen) and USCKI Incognito (Utrecht).
                Het doel van het NSVKI is om een band te creeëren tussen de
                kunstmatige Intelligentie studenten in heel Nederland. </p>
        </div>
    </div>
</div>
{% endblock page %}
