{% extends "base.htm" %}
{% block page %}
<div class='container'>
    <div class='row'>
        <div class="col-md-6 col-md-offset-2">
            <div class="page-header">
                <h1>{{ _('Association')}}</h1>
            </div>

            <p class='text-justify'> The NSVKI is the cooperation for Study
                Associations for Artificial Intelligence in the Netherlands.
                The members VIA (Amsterdam), STORM (Amsterdam), Cover
                (Groningen), CognAC (Nijmegen) and USCKI Incognito (Utrecht)
                decided it to be a good idea to keep in contact in this form.
                Our aim is to support Dutch AI students, and foster ties
                between students in all of the Netherlands.
            </p>

            <p class='text-justify'> Since the field is multidisciplinary and
                there are differences in the University program between the
                cities, we have a unique position to learn from one and other.
                We have an informative role: for example, the NSVKI helps
                inform students about Masters programmes by facilitating
                visits. The NSVKI also has a social role: bringing them
                together by barbecues and drinks, the NSVKI facilitates
                students bonding.
            </p>

            <p class='text-justify'> We combine these two roles in a study
                trip, the AWAI (Away With Artificial Intelligence). We visit
                cities near the Netherlands to learn about AI outside of the
                Netherlands and get to know each other.
            </p>

        </div>
    </div>
</div>
{% endblock page %}
