{% extends "base.htm" %}
{% block page %}
<div class='container'>
    <div class='row'>
        <div class="col-md-6 col-md-offset-2">
            <div class="page-header">
                <h1>{{ _('Contact') }}</h1>
            </div>
            <div class='text-justify'>

                <p>
                    {{ _('The NSVKI can be contacted on the following email address:') }}
                </p>

                <p>
                    <script language=javascript>
                        // Create an non-crawlable email-adres
                        <!--
                        var username = "nsvki";
                        var hostname = "svcover.nl";
                        var linktext = username + "@" + hostname;
                        document.write("<a href=" + "mail" + "to:" + username +
                            "@" + hostname + ">" + linktext + "</a>")
                        //-->
                    </script>
                </p>

                <p>
                    {{ _('Feel free to contact us for sharing ideas, questions, or comments.') }}
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock page %}
