{% extends "base.htm" %}
{% block page %}
<div class='container'>
    <div class='row'>
        <div class="col-md-8 col-md-offset-1">
            <div class="page-header">
                <h1><strong>Links</strong></h1>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block '
                    src="{{ static_url('/static/img/incognito.jpg') }}"
                    alt="Incognito"/>

                    <div class='text-justity'>

                        <p>De <strong>USCKI Incognito</strong> is een
                            studievereniging voor alle studenten CKI aan het
                            departement Wijsbegeerte, faculteit
                            Geesteswetenschappen, Universiteit Utrecht.</p>

                        <p> De ledenkamer van <strong>Incognito</strong> zit op
                            het
                            volgende adres:
                        </p>
                        <p>
                            Drift 21 <br/>
                            kamer 2016 <br/>
                            2512 BR Utrecht<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "incognito";
                            var hostname = "uscki.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            </hr>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block '
                    src="{{ static_url('/static/img/via.png') }}"
                    alt="VIA"/>

                    <div class='text-justity'>

                        <p>
                            <strong>VIA</strong> staat voor 'Vereniging
                            Informatiewetenschappen Amsterdam'. Het is de
                            studievereniging van de UvA voor de bachelor en
                            masterstudenten van het
                            informatiewetenschappendomein. Dat houdt in, de
                            bachelorstudies Informatica, Informatiekunde en
                            Kunstmatige Intelligentie en de masterstudies
                            Artificial Intelligence, Computational Science,
                            Computer Science, Information Studies, Logic,
                            Software Engineering en System and Network
                            Engineering.
                        </p>

                        <p>
                            De ledenkamer van <strong>via</strong> zit op het
                            Science Park:
                        </p>
                        <p>
                            Kamer A0.10 <br/>
                            Science Park 904 <br/>
                            1098 XH Amsterdam<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "bestuur";
                            var hostname = "svia.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block '
                    src="{{ static_url('/static/img/cover.png') }}"
                    alt="s.v. Cover"/>

                    <div class='text-justity'>

                        <p>  <strong>Cover</strong> is de studievereniging voor Kunstmatige
                            Intelligentie en Informatica aan de
                            Rijksuniversiteit Groningen. De studievereniging
                            telt zo'n 500 leden.  </p>

                        <p>
                            De ledenkamer van <strong>s.v. Cover</strong> zit op het
                            Science Park:
                        </p>

                        <p>
                            Nijnenborg 9<br/>
                            Kamer 041a <br/>
                            0749 AG Groningen<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "bestuur";
                            var hostname = "svcover.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <img
                    class='img-responsive center-block '
                    src="{{ static_url('/static/img/cognac.png') }}"
                    alt="CognAC"/>

                    <div class='text-justity'>

                        <p> Studievereniging <strong>CognAC</strong> is de studievereniging van
                            de opleiding Kunstmatige Intelligentie (KI) aan de
                            Radboud Universiteit Nijmegen. CognAC is in 1990
                            opgericht door een paar studenten met als doel de
                            contacten tussen de studenten onderling te
                            verbeteren en de belangen van de studenten te
                            behartigen.  </p>

                        <p>
                            De ledenkamer van <strong>CognAC</strong> zit op het
                            volgende adres:
                        </p>
                        <p>
                            Spinozagebouw <br/>
                            Kamer A.00.05b <br/>
                            Montessorilaan 3 <br/>
                            6525 HR Nijmegen<br/>
                        </p>

                        <h3> Contact </h3>
                        <script language=javascript>
                            // Create an non-crawlable email-adres
                            <!--
                            var username = "secretaris";
                            var hostname = "svcognac.nl";
                            var linktext = username + "@" + hostname;
                            document.write("<a href=" + "mail" + "to:" + username +
                                "@" + hostname + ">" + linktext + "</a>")
                            //-->
                        </script>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock page %}
